
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: transparent;
  transition: background-color 0.3s ease, padding 0.3s ease;
  z-index: 1000;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header.scrolled {
  background-color: white;
  padding: 5px 20px;
}

.logo {
  width: 150px;
  height: auto;
  transition: width 0.3s ease;
}

.header.scrolled .logo {
  width: 100px;
  filter: brightness(0);
}


.nav-links.desktop {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  padding-left: 100px;
  align-items: center;
  flex-grow: 1;
}
.nav-links.desktop a {
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links.desktop a:nth-last-child(-n+2) {
  margin-left: auto;
  margin-top: 1px;
}

.header.scrolled .nav-links.desktop a {
  color: black;
}


.nav-links.desktop .btn {
  background-color: #f8c24e;
  border: none;
  padding: 10px 20px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  margin-left: 0;
}


.nav-links.desktop .btn:not(.header-user-btn) + .btn:not(.header-user-btn) {
  margin-left: 10px; 
}

.nav-links.desktop .btn:hover {
  background-color: #e0b800;
  transform: scale(1.05);
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.hamburger .bar {
  width: 100%;
  height: 3px;
  background-color: #f8c24e; 
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.hamburger.open .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}


.nav-links.mobile {
  display: none;
  position: fixed;
  top: 0;
  right: -100%;
  width: 60%;
  height: 100vh;
  background-color: #fff; 
  justify-content: center; 
  align-items: center; 
  padding: 40px 20px; 
  transition: right 0.3s ease-in-out;
  flex-direction: column;
  z-index: 999;
}

.nav-links.mobile.open {
  right: 0;
}

.nav-links.mobile a {
  color: #000; 
  font-size: 1.3rem; 
  margin-bottom: 30px; 
  text-decoration: none;
  font-weight: bold;
}


.nav-links.mobile .btn {
  background-color: #f8c24e; 
  color: #000; 
  border: none;
  padding: 10px 40px; 
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  margin-bottom: 20px; 
  border-radius: 5px; 
}

.nav-links.mobile .btn:hover {
  background-color: #e0b800; 
}


.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: #f8c24e; 
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links.desktop {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .nav-links.mobile {
    display: flex;
  }
}
