.cart {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001; 
}

.cart-modal {
    background: #201c1c;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    max-height: 80vh; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow-y: auto; 
}

.list-cart {
    max-height: 50vh; 
    overflow-y: auto; 
    margin-bottom: 20px; 
}
.icon-delete-th{
  color: #bb86fc;
  font-size: 24px;
  padding: 5px;
}
.icon-delete-card {
  color: red;
  font-size: 24px;
}
.button-confirm{
  background-color: #25d366 !important;
  color: #121212 !important;
 
}
.button-confirm:disabled{
  background-color: transparent !important;
  border: 1px solid #25d366;
}



  .cart-modal-image {
    width: 75px; 
    height: 60px; 
    border-radius: 4px;
    margin-right: 15px;
    object-fit: cover;
  }