.navbar-footer {
  position: fixed;
  
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #201c1c;
  padding: 10px;
 
  justify-content: center;
  align-items: center;
  border-radius: 50px 50px 0px 0px !important;
}


.content-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content-footer span {
  font-size: 1rem;
}

.footer-icon {
  position: absolute;
  top: 40; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px #25d366;
  border: 2px solid #000000;
  color: #25d366;
}
.footer-icon:hover {
  color: #25d366;
}
.item-footer {
  color: #25d366;
}
@media (max-width: 768px) {
  .navbar-footer {
    z-index: 20;
  }
}
